body {
    background-color: black;
}

div#button {
    text-align: center;
}

A:Link {
    Color: #ffffff;
    Text-decoration: underline
}

A:Visited {
    Color: #ffffff;
    Text-decoration: underline
}

A:Hover {
    Color: #ffffff;
    Text-decoration: none
}

td,
body {
    font-family: verdana, arial, helvetica;
    font-size: 11px;
}