    body {
        background-color: black;
    }
    
    div#button {
        text-align: center;
        size: 35px;
    }
    
    div#clock {
        align-content: center;
        text-align: center;
        ruby-align: center;
    }